/* Styles for Mobile devices */
body {
  background-image: url(https://i.pinimg.com/736x/f8/33/f7/f833f771621bbb9d0cf76c58f81c21bf.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
